
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read/write their own user document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Any authenticated user can create an experience and read all experiences.
    match /experiences/{experienceId} {
      allow read, create: if request.auth != null;
    }

    // Any authenticated user can read, create, or update company data.
    // This is needed to aggregate experience stats.
    match /companies/{companyId} {
      allow read, write: if request.auth != null;
    }
  }
}
